@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

*{
  font-family: 'Open Sans', sans-serif;
  color:#4c4c4c;
  font-weight: 300;
}

p {
  line-height: 24px;
  margin-bottom:30px;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'Droid Serif', serif;
  font-size:40px;
}

.grey {
  color:#aaaaaa;
}

.index-images-1.fade-out,
.index-images-2.fade-out,
.index-images-3.fade-out,
.index-images-4.fade-out,
.index-images-5.fade-out {
  opacity: 0;
}

.index-images-1 {
  opacity: 1;
  transition: .25s all ease-in;
}

.index-images-2 {
  opacity: 1;
  transition: 1s all ease-in;
}

.index-images-3 {
  opacity: 1;
  transition: .25s all ease-in;
}

.index-images-4 {
  opacity: 1;
  transition: 1s all ease-in;
}

.index-images-5 {
  opacity: 1;
  transition: .25s all ease-in;
}

.nav-container-mobile {
  background:#fff;
  width:100%;
  padding:30px 0 5px;
  display: none;
}

.nav-container {
  background:#fff;
  width:100%;
  padding:30px 0 5px;
  display: block;
}

.nav-container a, .nav-container-mobile a {
  font-size:14px;
  color:#282828;
  font-weight:300;
  letter-spacing: 1px;
}

.nav-container ul li {
  display: inline-block;
  padding:5px 50px;
}

.logo a {
  font-family: 'Pacifico', cursive;
  font-size:30px;
  text-decoration: none;
  color:#524956;
  line-height: 20px;
  position: relative;
}

.logo-bracket-left {
  position: absolute;
  font-size:50px;
  top:20px;
  margin-left:-60px;
}

.logo-bracket-right {
  position: absolute;
  font-size:50px;
  top:20px;
  margin-left:16px;
}

.main-container {
  width:100%;
}

.main-bg {
  background: #fff9f3;
}

img {
  border-radius: 8px;
}

.main-container img {
  margin:15px 0;
}

.main-left {
  padding-right: 0;
}

.main-right {
  padding-left:0;
}

.index-images {
  position: relative;
  overflow: hidden;
}

.caption {
  padding:20px 35px 30px 20px;
  background:rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom:-50%;
  left:15px;
  right:15px;
  color:#153f7c;
  z-index:9999;
  line-height: 20px;
  margin:0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.index-images-link:hover + .caption {
  position: absolute;
  bottom:15px;
  transition: .25s all ease-in;
}

.caption:hover {
  position: absolute;
  bottom:15px;
}

.about-container {
  background-image:url(../images/bg_2.jpg);
  background-position: center center;
  background-size: auto;
  background-attachment: fixed;
  padding:100px 0;
  width:100%;
}

.about-section {
  background-color: rgba(255, 255, 255, 0.9);
  padding:50px;
}

.about-story-container {
  position: relative;
  background-image: url(../images/about_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  height:600px;
  background-position: center bottom;
}

.about-story-white {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: rgba(255, 255, 255, 0.5);
}

.about-story {
  padding-top:100px;
  padding-bottom:100px;
  background: rgba(255, 255, 255, .8);
  border-radius:8px;
  margin-top: 10%;
}

.about-story, .sweets {
  font-family: 'Droid Serif', serif;
  font-size:50px;
}

.sweets {
  border-bottom: 2px solid #aaaaaa;
}

.catering-white {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: rgba(255, 255, 255, 0.5);
}

.catering-story-container {
  background-image:url(../images/bg_2.jpg);
  background-position: center center;
  background-size: auto;
  background-attachment: fixed;
  padding-top:100px;
  padding-bottom:100px;
}

.catering-story-section {
  background-color: rgba(255, 255, 255, 0.9);
  padding:100px;
}

.catering-story-section img {
  margin:10px auto 20px;
  border-radius:8px;
}

.contact-container {
  background-image:url(../images/bg_1.jpg);
  background-position: center center;
  background-size: auto;
  background-attachment: fixed;
  padding-top:70px;
  padding-bottom:70px;
  width:100%;
}

.contact-content {
  background-color: rgba(255, 255, 255, 0.9);
  padding:100px;
}

footer {
  padding-top:30px;
  padding-bottom:30px;
}

.social i {
  color:#aaaaaa;
  font-size:20px;
  margin:5px;
}

@media only screen and (max-width: 768px) {
  .main-left {
    padding-left:10px;
    padding-right:10px;
  }

  .main-right {
    padding-right:10px;
    padding-left:10px;
  }

  .nav-container-mobile {
    display: block;
  }

  .nav-container-mobile ul {
    padding-left:0;
    margin-top:20px;
  }

  .nav-container-mobile ul li {
    list-style: none;
    display: inline-block;
    margin:10px 20px;
  }

  .nav-container {
    display:none;
  }

  .catering-story-section {
    padding:20px;
  }

  .about-section {
    padding:20px;
  }

  .contact-content {
    padding:20px;
  }

  .catering-story-container > .row {
    margin-right:0;
    margin-left:0;
  }

  .about-container > .row {
    margin-right:0;
    margin-left:0;
  }
}

@media only screen and (min-width: 769px) {
  .catering-story-section img {
    max-width:500px;
  }
}
